
<h1>Delete Your Account</h1>

<h3>Are you sure you want to delete this account?</h3>

<button type="button" class="btn btn-primary"><a href="/deleteAccount" style="text-decoration: none;">Delete</a></button>
<button type="button" class="btn btn-primary"><a href="/" style="text-decoration: none;">Cancel</a></button>