<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

{{>heading4}}
<style>
.tt{
            width: 300px;
            height: 80px;
            border: 1px solid black;
            border-radius: 10px;
            font-size: 15px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            background-color: rgb(128, 128, 160);
        }

</style>

<body>
  
<div class="fr">{{data2}}</div>

<div>
     <form action="/getdata" method ="POST" class="fd" style="height: 100px ;width:100px;">

 </form>

</div>
    <script>
 let d=document.querySelector(".fr")   
    
 d.style.display="none"

console.log(d.innerHTML)

   let g=JSON.parse(d.innerHTML)
    console.log(g)

let html = "";
  g.forEach(function(element, index) {
    html += `<div class="tt">
    <div>${element.score}</div><br>
    <input type=submit name=Myname value=${element.Name}></div> <br><br><br> `
            
                   });
//let k=document.querySelector(".gg")
//k.style.display="none"
                   let h=document.querySelector(".fd")
    h.innerHTML=html
       // let m=localStorage.getItem("mystring")

             // f=m
          ///
   /// let c=document.querySelector(".gh")
//let d=`<h3>{{namef}}</h3><br>`

    

    //localStorage.setItem("mystring",f)
    // c.innerHTML =m+d
     //console.log(f)
    
    
         //console.log({{namef}})
        
        //window.addEventListener("popstate", function(e){

           // let c=document.querySelector(".gh")
           // c.addEventListener("click",function(){
   //let r=document.querySelector(".fd")
        //let html=``
        //let g=localStorage.getItem("Mystorage")
        
        //if(g==null){
//b=[]
        //}
        //else{
         // html=g
        //}
        //console.log(b)
    //html="<input type=submit name=Myname value={{namef}}> <br><br>"+g
        
 //b.push(html);

//localStorage.setItem("Mystorage",html)


//let p=JSON.stringify(s)
//console.log(p)


//let f=localStorage.getItem("Mystorage")


//let p=JSON.stringify(f)
//function removeduplicates(data){
//return [...new Set(data)]
//}
 //f=removeduplicates(p)


//console.log(f)

//console.log(removeduplicates(s))
//let f=``
//for(let i=0;i<s.length;i++){
   // f=f+s[i]
//}
//r.innerHTML=`${f}`;

//})

    </script>
</body>
</html>