<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
    integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js"
    integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
    crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">


  <style>
    input[type="text"]::placeholder {

      /* Firefox, Chrome, Opera */
      text-align: center;
    }


    .new1 {
      text-align: center;
      border-radius: 8px;
      height: 350px;
      background-color: aliceblue;
      margin-top: 40px;
      border: solid;
    }

    input {
      width: 100% !important;
    }
button{
  width: 100% !important;
}
    select {
      width: 100% !important;
    }

  </style>
</head>
{{>heading}}

<body>
  <div id="name" style="display:none">{{username}}</div>

  <div class="new1" style="width: 80%;">

    <div style="width: 100%; display: flex;flex-direction:column; justify-contents:center ;align-items:center">
    <h3 style="color:red;">Search Your Result Here</h3>
    <form action="/newresultmulti" method="POST" style="text-align:center;width:70%">
      <div class="" style="display: flex;flex-direction:column; justify-contents:center ">

        <div class="form-group">
          <label for="exampleInputEmail1">Enter the Quizname from the list of quizzes</label>
          <input type="text" class="form-control mt-2" id="myquiz" 
            name="myquiz" required>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Your name</label>
          <input type="text" class="form-control mt-2" id="name"  name="name" required>
        </div>
        <div class="form-group">
          <label>Enter the exam type</label>
          <select class="form-control mt-2" id="examname" name="examname" required>
            <option value="Highlevelexam">High level exam</option>
          </select>
        </div>

        <button type="submit" class="btn btn-primary mt-2">Result</button>
      </div>
    </form>
</div>


  </div>




</body>
<script>

  let f = document.getElementById("name").innerText
  if (typeof (f) != 'undefined') {
    document.getElementById("myname").innerText = f
  }
  else {
    document.getElementById("myname").innerText = "Anonymous"

  }
</script>

</html>