<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">     <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style>
    .my{
  margin-left: 100px;
  margin-top: 50px;
  height: 500px;
  display: inline-flex;
  flex-direction: column;
  width: 300px;
    }
  
    input[type="text"]{
  outline: none;
}

.new1{
  width:750px;
  height:150px;
  border-radius: 8px;
  display:inline-block
}

#quiz{
   width: 230px;
   margin-left: 20px;
   margin-top: 10px;
   outline: none;
 }

 #name{
  width: 230px;
  outline: none;
   margin-left: 20px;
   margin-top: 10px;
 }




.showgrid{
  display: flex;
  flex-direction: column;
justify-content: center;
  align-items: center;
  margin-bottom: 60px;

}
/* @media only screen and (max-width: 770px) {
 
 .new1{
 
     height: 150px;
    width:400px;
    margin-left:0px;
 }
 
 #quiz{
   width: 100px;
   margin-left: 0px;
   margin-top: 0px;
   outline: none;
 }
 #name{
  width: 100px;
  outline: none;
   margin-left: 0px;
   margin-top: 0px;
 }

.showgrid{
  display: flex;
  flex-direction: column;
justify-content: center;
  align-items: center;

}
 } */
.bodywidth{
  width: 70% !important;
}
 .title{
  width: auto;
 }

 @media only screen and (max-width: 660px) {

  .title{
    width: 150px !important;;
  }
  .bodywidth{
  width: 100% !important;
}

  .showgrid{
    display: flex;
  flex-direction: column;
justify-content: center;
  align-items: center;
}
 }

img{

  width: 0px;
  height:0px;
}


body{
  width: 100% !important;
}

    </style>
</head>

<% if(data.isadmin){ %> 
<%- include('../partials/heading1.hbs') %>
<% } else {%> 
  <%- include('../partials/heading.hbs') %>

  <% } %> 
<body >
  <h1>Quizzes</h1>

       <div id="name"style="display:none"><%=username%></div>
<br><br>
       <div id="tables" style="display:none">
</div>





<!---------------------------------------------------------------------------------->


<!--------------------------------->

    <!-- Navbar brand -->

    <!-- Left links -->
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <!-- <a class="nav-link" href="/Mysecrets"style="color:black;  font-weight: bold;
        ">
        
        <div class="card" style="width: 18rem;">
          <div class="card-body">
          <h5 class="card-title">All Exams</h5>
      
          </div>
        </div> </a> -->

        <a class="nav-link" href="/ExamFilter1?exam=Primary and Secondary Education"style="color:black;  font-weight: bold;
          "><div class="card" style="width: 18rem;">
          <div class="card-body">
          <h5 class="card-title">Primary and Secondary Education</h5>
      
          </div>
        </div></a>

        <a class="nav-link" href="/ExamFilter1?exam=Government Exams" style="color:black;  font-weight: bold;
              ">
              <div class="card" style="width: 18rem;">
          <div class="card-body">
          <h5 class="card-title">Government
            Exams</h5>
          </div>
        </div>
          </a>



        <a class="nav-link" href="/ExamFilter1?exam=Management Exams" style="color:black;  font-weight: bold;
              ">
              <div class="card" style="width: 18rem;">
                <div class="card-body">
                <h5 class="card-title">Management
                  Exams</h5>
                </div>
              </div>
          </a>


        <a class="nav-link" href="/ExamFilter1?exam=Bank Exams" style="color:black;  font-weight: bold;
              ">
              <div class="card" style="width: 18rem;">
                <div class="card-body">
                <h5 class="card-title"> Bank
                  Exams</h5>
                </div>
              </div>
             </a>


        <a class="nav-link" href="/ExamFilter1?exam=Engineering Entrance Exams" style="color:black;  font-weight: bold;
              "><div class="card" style="width: 18rem;">
                <div class="card-body">
                <h5 class="card-title"> Engineering Entrance Exams</h5>
                </div>
              </div></a>

        <a class="nav-link" href="/ExamFilter1?exam=Research and Lectureship" style="color:black;  font-weight: bold;
          "><div class="card" style="width: 18rem;">
                <div class="card-body">
                <h5 class="card-title"> Research & Lectureship</h5>
                </div>
              </div></a>


      <!-- <li class="nav-item " style="margin-left: 150px;">
        <a class="nav-link" href="/ExamFilter?exam=Other Exams"><button style="border:none;">Other
            Exams</button></a>
      </li> -->

    </ul>
    <!-- Left links -->
 









</body>

      <script>
let f= document.getElementById("name").innerText
console.log(f)
if(typeof(f)!='undefined'){
  
   document.getElementById("myname").innerText=f
  document.getElementById('register').style.display="none"
}
else{
  document.getElementById("myname").innerText="Anonymous"
  


 }
let gg=JSON.parse(document.getElementById('ss').innerText)


 function change(e){

 }
        //const socket = io('http://localhost:8600')



  
   


//$("p").on('click', function() {
    // console.log("djgfsaf")
   // var examname = $(this).attr("examname");
  //  var quizname = $(this).attr("quizname");
     
   // $.ajax({
      //  type: "POST",
     //   url: "/enterexam",  
     //   data: {myexam:examname,quiz:quizname},
      //  success: function (response) {
     //      console.log('form submitted')
     //   }
   // });
//})


           //function submitform(){
          //alert('test');
          //document.forms["myForm"].submit();
        //}
        //submitform()
   
   //for(let j=1;j<9;j++){

 //$("#myform"+j).on('submit',function(e){
//e.preventDefault()

//console.log(e.target.children[0].innerText)
/// $.ajax({
     ///   type: "GET",
      //  url: "/enterquiz1",  
      //  data: {quiz:p},
     // success: function (response) {
         
     //   }
 //  });

 //})

 

 //console.log(j)
          //console.log(document.getElementById("mydiv"+j).children[0])

          //-----------------------------------------------------------------------------
//function myfunction(data){

 // alert(data.id)
 // var xhr = new XMLHttpRequest();

//xhr.open("POST","/enterquiz1", true);
//xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");


//xhr.send("data=" +data.id);


//}

//-------------------------------------------------------------------------------------
         // document.getElementById("mydiv"+j).children[0].addEventListener('submit',function(e){

          //e.preventDefault()
        // alert("submitting") 
       // alert("sdsafdadf")
//alert(data.id)
  
 // let p=e.target.children[0].innerText
//console.log(p)



//

      //   })
   //}
        
   
    </script>

</html>