<!doctype html>
<html>

<body>
    <div id="imageurl"><%=myimage%></div>
    <img src="<%=myimage%>"style="height:1000px;width:900px" alt="" id="img">;
<button class="btn btn-primary" onclick="Retrieve()">download</button>
</body>
<script src="https://www.gstatic.com/firebasejs/7.7.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.7.0/firebase-storage.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.7.0/firebase-database.js"></script>

<script>

const firebaseConfig = {
    apiKey: "AIzaSyAZ9x_QbhCfY9aEsqxEiYhWtfIRNGl_qeo",
    authDomain: "mynewproject-ae49a.firebaseapp.com",
    projectId: "mynewproject-ae49a",
    storageBucket: "mynewproject-ae49a.appspot.com",
    messagingSenderId: "939005557600",
    appId: "1:939005557600:web:ee766070db4bd2dadfbc05",
    measurementId: "G-YFKTT151SN"
  };

firebase.initializeApp(firebaseConfig);


  function retrieve(){

    //filelocation=document.getElementById("filepath").value
    const ref = firebase.storage().ref();

    const images = firebase.storage().ref().child("files");
    images.listAll().then(function(result) {

      result.items.forEach(function(imageRef) {
let filename=imageRef.name
console.log(filename)


        imageRef.getDownloadURL().then((url) => { 
          var httpsReference = firebase.storage().refFromURL(url);
          let fileName = httpsReference.name;
        
          if(imageRef.name=="bb (1).jpg"){

}

});
      });
      
    }).catch(function(error) {
      // Handle any errors
    });

}


 function Retrieve(){
    var url =document.getElementById("imageurl").innerText
var filename = url.substring(url.lastIndexOf("/") + 1).split("?")[0];
var xhr = new XMLHttpRequest();
xhr.responseType = 'blob';
xhr.onload = function() {
    console.log(xhr.response)
  var a = document.createElement('a');
  a.href = window.URL.createObjectURL(xhr.response);
  a.download = "fileDownloaded.filetype"; // Name the file anything you'd like.
  a.style.display = 'none';
  document.body.appendChild(a);
  a.click();
};
xhr.open('GET', url);
xhr.send();
 }



// function getdata(url){
// var filename = url.substring(url.lastIndexOf("/") + 1).split("?")[0];
// var xhr = new XMLHttpRequest();
// xhr.responseType = 'blob';
// xhr.onload = function() {
//     console.log(xhr.response)
//   var a = document.createElement('a');
//   a.href = window.URL.createObjectURL(xhr.response);
//   a.download = "fileDownloaded.filetype"; // Name the file anything you'd like.
//   a.style.display = 'none';
//   document.body.appendChild(a);
//   a.click()
// }
//   xhr.open('GET', url);
// xhr.send();
// }
</script>
</html>
