<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>


<style>
    input[type="text"]::placeholder {

        /* Firefox, Chrome, Opera */
        text-align: center;
    }


    #mylogin {
        margin-left: 370px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 60px
    }

    .new1 {
        text-align: center;
        border-radius: 8px;
        width: 400px;
        height: 350px;
        background-color: aliceblue;
        margin-top: 40px;
        border: solid;
        margin-left: 300px
    }

    .new2 {
        text-align: center;
        margin-top: 90px;


        width: auto;
        height: auto;
        background-color: rgb(223, 228, 232);
        margin-top: 40px;
        margin-left: 300px
    }

    .newbutton {
        margin-left: 30px;
        margin-top: 10px;

    }





    #quizname {
        margin-left: 30px;
        width: 300px;
        margin-top: 20px;
    }

    #info {
        margin-top: 20px;
    }

    @media only screen and (max-width: 500px) {

        .new1 {

            height: 400px;
            width: 320px;
            margin-left: 10px;
        }

        .new2 {

            width: 300px;
            margin-left: 20px;
        }

        #quizname {
            width: 200px;

            margin-left: 60px;
        }

        .newbutton {
            margin-left: 15px;
            margin-top: 10px;
        }

        #mylogin {
            margin-left: 50px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

            font-size: 30px;
        }

    }










    #rat {
        opacity: 0;
    }

    .start_btn button {
        font-size: 25px;
        font-weight: 500;
        color: #007bff;
        padding: 15px 30px;

        border-radius: 5px;
        background: #fff;

    }




    .info_box {
        width: 540px;
        background: #fff;
        border-radius: 5px;

        opacity: 0;
        pointer-events: none;
        transition: all 0.3s ease;
    }

    .activeInf {
        opacity: 1;
        pointer-events: fill;
    }

    .btnstartdeactivate {
        opacity: 0
    }

    .btnstartactivate {
        opacity: 1;
    }

    .quiz_box {
        width: 550px;
        background: #fff;
        border-radius: 5px;

        opacity: 1;


    }

    .activeQuiz {
        opacity: 1;
    }


    .result_box {
        opacity: 0;

    }

    .showresultbox {
        opacity: 1;
    }


    .activeResult {
        margin-top: 0px;
        margin-left: 0px;
        opacity: 1;
    }


    .quiz_box header .timer {
        color: #004085;
        background: #cce5ff;
        border: 1px solid #b8daff;
        height: 45px;
        padding: 0 8px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 145px;
    }

    section {
        padding: 25px 30px 20px 30px;
        background: #fff;
    }

    section .que_text {
        font-size: 25px;
        font-weight: 600;
    }

    section .option_list {
        padding: 20px 0px;
        display: block;
    }

    section .option_list .option {
        background: aliceblue;
        border: 1px solid #84c5fe;
        border-radius: 5px;
        padding: 8px 15px;
        font-size: 17px;
        margin-bottom: 15px;
        cursor: pointer;
        transition: all 0.3s ease;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    section .option_list .option:last-child {
        margin-bottom: 0px;
    }

    section .option_list .option:hover {
        color: #004085;
        background: #cce5ff;
        border: 1px solid #b8daff;
    }



    section .option_list .option.incorrect {
        color: #721c24;
        background: #f8d7da;
        border: 1px solid #f5c6cb;
    }

    section .option_list .option.disabled {
        pointer-events: none;
    }

    section .option_list .option .icon {
        height: 26px;
        width: 26px;
        border: 2px solid transparent;
        border-radius: 50%;
        text-align: center;
        font-size: 13px;
        pointer-events: none;
        transition: all 0.3s ease;
        line-height: 24px;
    }

    .green {

        background-color: red;
        font-family: 'Courier New', Courier, monospace;
    }

    .red {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        background-color: rgb(49, 153, 63);
    }

    .option {

        border: 1px solid #84c5fe;
        border-radius: 5px;
        padding: 8px 15px;
        font-size: 17px;
        margin-bottom: 15px;
        cursor: pointer;
        transition: all 0.3s ease;

        align-items: center;
        justify-content: space-between;

    }

    .option2 {

        border: 1px solid #84c5fe;
        border-radius: 5px;
        padding: 8px 15px;
        font-size: 17px;
        margin-bottom: 15px;
        cursor: pointer;
        transition: all 0.3s ease;

        align-items: center;
        justify-content: space-between;

    }

    .option3 {

        border: 1px solid #84c5fe;
        border-radius: 5px;
        padding: 8px 15px;
        font-size: 17px;
        margin-bottom: 15px;
        cursor: pointer;
        transition: all 0.3s ease;

        align-items: center;
        justify-content: space-between;

    }

    .option4 {

        border: 1px solid #84c5fe;
        border-radius: 5px;
        padding: 8px 15px;
        font-size: 17px;
        margin-bottom: 15px;
        cursor: pointer;
        transition: all 0.3s ease;

        align-items: center;
        justify-content: space-between;

    }

    .solution {
        width: 700px;
        background: #fff;
        border-radius: 5px;
        opacity: 1;

    }

    .solution_btn {
        opacity: 0;
    }

    .ff {
        font-size: 25px;
        font-weight: 400;
        font-family: 'Courier New', Courier, monospace;
    }

    .showsolutionbtn {
        opacity: 1;
    }

    .cred {}

    .ll {
        opacity: 1,
    }

    .finishexam {
        opacity: 0;
    }

    .activatefinish {
        opacity: 1;
    }

    .button1 {
        opacity: 0;
    }

    .activatebutton1 {
        opacity: 1;
    }

    .fg {
        opacity: 0;
    }

    .Myreg {
        opacity: 0;

    }

    .Myage {
        opacity: 0;
    }

    .marks {
        opacity: 0;
    }

    .quiz {
        opacity: 0;
    }

    .activemarks {
        opacity: 1;

    }

    .activereg {
        opacity: 1;
    }

    .activequiz {
        opacity: 1;
    }

    .activeage {
        opacity: 1;
    }

    .button2 {
        opacity: 0;

    }

    .button3 {
        opacity: 0;

    }

    .activebutton2 {
        opacity: 1;
    }

    .activebutton3 {
        opacity: 1;
    }

    #ty {
        margin-top: 15px;
        margin-left: 40px;
        height: 150px;
        width: 300px;
    }

    #passimg {
        height: 100px;
        width: 460px;
    }

    .myimgtag {
        height: 280px;
        width: 300px;
    }

    #ty1 {
        height: 300px;
        width: 500px;
    }

    #ty2 {
        height: 240px;
        width: 540px;
    }

    #ty3 {
        height: 150px;
        width: 600px;
    }

    .qsol {
        height: 300px;
        width: 500px;
    }

    .usermarks {
        background-color: #007bff !important;

    }
    .option{
        width: 70%;
    }
</style>

<body>
<div style="margin-left:20px;">
<div style="width: 50%;">
    <h1>Solution of <%=quizname %>
    </h1>
    <div class="quiz_box" style="margin-top: -230px;" >
        <section>
            <div id="name">
                <h1>
                </h1>
            </div>
            <div id="marks"></div><br><br>
            <div id="passage"></div>
            <div id="passimg"></div>
            <div id="myqueimg"></div>
            <div id="imgtag" style="height:60px;width:200px;"></div>
        </section>
        <!-- footer of Quiz Box -->
        <footer>
            <div class="total_que" style="margin-top: 20px;">
                <!-- Here I've inserted Question Count Number from JavaScript -->
            </div>
            <br>
            <br>
        </footer>
    </div>
    <div class="bb"></div>
    <div class="solution mt-4"></div>
    <div id="rat" style="display:none">
        <%=Mydata%>
    </div>
    <a href="/">
        <h1>Go back</h1>
    </a>
</div>
</div>
    <script>

        //---------------------------------------new part-------------------------------------------------
        let h;
        let rat = document.getElementById("rat").innerText
        Mydata = JSON.parse(rat)
        var length = Object.keys(Mydata).length;
        Object.keys(JSON.stringify(Mydata[1]))
        let name = document.getElementById("name").innerText
        let html = ``
        let quest = document.querySelector(".que_text")
        let solution = document.querySelector(".solution")
        let option = document.querySelector(".option_list")

        let option3 = document.getElementById("g")
        const mypasstag = document.getElementById('passage')
        const mypassimg = document.getElementById('passimg')
        var imgtag = document.getElementById("imgtag")
        let option_tag = ``;
        let option4 = document.getElementById("k")
        let img_tag = '';
        let que_tag = '';
        for (let i = 0; i < length; i++) {

            if ((Mydata[i].type == "multichoice") || (Mydata[i].type == "multi")) {

                if (Mydata[i].queimg) {
                    que_tag = '<span class="ff">' + Mydata[i].numb + ". " + `<img src="${Mydata[i].queimg}" id="ty3"alt=""  style="width:70;height:50;">` + '</span>' + '<br>'

                } else {
                    que_tag = '<span class="ff">' + Mydata[i].numb + ". " + Mydata[i].question + '</span>' + '<br>'

                }


                if (Mydata[i].myfile) {

                    img_tag = '<span class="ff">' + `<img src="${Mydata[i].myfile}" alt="" id="ty2" style="width:200;height:100;">` + '</span>' + '<br>'

                } else {
                    img_tag = ""
                }

                if (Mydata[i].passage) {
                    let pass_tag = `<textarea class="form-control" rows="5" style="width:300px;margin:auto">${Mydata[i].passage}</textarea>`;
                }
                if (Mydata[i].passageimg) {
                    let pass_img = `<img src="${Mydata[i].passageimg}" alt="" id="ty" style="width:100;height:50;">`;
                }
                else {
                }
                if (Mydata[i].solutionsimg) {
                    solution_tag = '<span class="ff">' + `<img src="${Mydata[i].solutionsimg}" alt="" id=ty1>` + '</span>' + '<br>'
                }
                else {

                    solution_tag = ` <p> Solution</p> <br>
                    <textarea rows=20 class="qsol">
                        ${Mydata[i].solutions}</textarea>`;
                }

//-----------------------------option Image-------------------------------------------------------------

let option_tag=``
if((typeof(Mydata[i].optionImg1)!='undefined')&& (Mydata[i].optionImg1!=""))

{

 option_tag = `<div class="optiongr">               
        <div class="option"id=0  style="width:100%;height:30%" ><img src="${Mydata[i].optionImg1}" alt="" style="" id=0> </div>
    <div class="option"  id=1 style="width:100%;height:30%" ><img src="${Mydata[i].optionImg2}" alt="" style="" id=1> </div>
    <div class="option"  id=2  style="width:100%;height:30%" ><img src="${Mydata[i].optionImg3}" alt="" style="" id=2> </div>
    <div class="option"  id=3  style="width:100%;height:30%" > <img src="${Mydata[i].optionImg4}" alt="" style="" id=3> </div>
    </div>`;

}

else{
 option_tag = `<div class="optiongr">               
        <div class="option"  id=0>${Mydata[i].option1} </div>
    <div class="option"  id=1>${Mydata[i].option2} </div>
    <div class="option"  id=2>${Mydata[i].option3} </div>
    <div class="option"  id=3> ${Mydata[i].option4} </div>  
    </div>`;

}

              
//------------------------------------------------------------------------------------------
                html +=`<div style="border:1px solid black;border-radius:15px">`+ que_tag + `<br>` + img_tag + `<br>` + option_tag + `<br>` + solution_tag + `<br>`+`<br>`+`</div>`+`<br>`+`<br>`;
            }
            else {

                if (Mydata[i].type == "integertype") {

                    que_tag = '<span class="ff">' + `<b>`+ Mydata[i].numb + `</b>`+". " + Mydata[i].question + '</span>' + '<br>'

                    option_tag = `<div class="form-group">
    <label for="exampleInputEmail1">Enter the answer in integer</label><br>
    <input type="number" class="form-control" style="margin-left:200px;width:200px"  aria-describedby="emailHelp" placeholder="Enter Answercode" value=${Mydata[i].integerans} >
    <input type="number" class="newinteger" id="newinteger" style="margin-left:200px;width:200px"  aria-describedby="emailHelp" placeholder="Enter Answercode">
  </div>`
                    html += que_tag + `<br>` + option_tag + `<br>`

                }
            }
        }

        solution.innerHTML = html
        const options = solution.querySelectorAll(".optiongr");
        let m = 0


        for (let i = 0; i < length; i++) {

            let kk = document.getElementById("Mysolutions")
            if (Mydata[i].Mysolutionsimg) {
            }

            let a = []
            let b = []
            let l = 0
            ///----------------------------------question evaluation----------------------------------
            //------------------------------multiple answers questions------------------
            if (Mydata[i].type == "multi") {
                console.log(JSON.parse(Mydata[i].answercode))
                if (JSON.parse(Mydata[i].answercode)['answer1'] != '') {
                    b.push(JSON.parse(Mydata[i].answercode)['answer1'])
                    options[i].children[JSON.parse(Mydata[i].answercode)['answer1']].style.backgroundColor = "green"
                }
                if (JSON.parse(Mydata[i].answercode)['answer2'] != '') {
                    b.push(JSON.parse(Mydata[i].answercode)['answer2'])
                    options[i].children[JSON.parse(Mydata[i].answercode)['answer2']].style.backgroundColor = "green"
                }
                if (JSON.parse(Mydata[i].answercode)['answer3'] != '') {
                    b.push(JSON.parse(Mydata[i].answercode)['answer3'])
                    options[i].children[JSON.parse(Mydata[i].answercode)['answer3']].style.backgroundColor = "green"

                }

            }

            //--------------------------------------------------------------------------------------------
            //-----------------------------------integer type---------------------------------------
            if (Mydata[i].type == "integertype") {
                console.log("my integer ans is running")
                console.log(response.answers[i])
                console.log(Mydata[i].integerans)
                document.getElementById("newinteger").value = Mydata[i].integerans;

            }

            //--------------------------------------------------------------------------------------
            //--------------------------Multichoice questions------------------------------
            if (Mydata[i].type == "multichoice") {
                for (let j = 0; j < 4; j++) {
                    if (JSON.parse(Mydata[i].answercode)['answer1'] == j) {
                        console.log("this is the new answer")
                        // console.log(JSON.parse(Mydata[i].answercode)['answer1'])
                        if (options[i]) {
                            //console.log(JSON.parse(Mydata[i].answercode)['answer1'])
                            options[i].children[j].style.backgroundColor = "green"
                            console.log("question color changed to green")

                        }
                    }

                }

            }


        }

    </script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>


</body>