<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
    .jj{
  font-family:Georgia, 'Times New Roman', Times, serif; 
  background-color:rgb(201,216,244);
  box-shadow: 0 1px #00000020, 0 1px 3px #0003; 
  border-radius: 8px;
  width: 18rem
}
.jj:hover{
  background-color: rgb(117, 145, 197);;
}
    </style>
</head>
<body>
    <% if(data.isadmin){ %> 
        <%- include('../partials/heading1.hbs') %>
        <% } else {%> 
          <%- include('../partials/heading.hbs') %>
        
          <% } %> 


    <% if(examname=="Government Exams" ) {%>

     
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <a class="nav-link " href="/ExamFilter1?exam=Government Exams&&test=SSC CGL&&message=noelements" style="color:black;  font-weight: bold;
                      ">
                      <div class="jj" style="width: 18rem;">
                        <div class="card-body">
                        <h5 class="card-title"> SSC CGL</h5>
                        </div>
                      </div></a>
                  <a class="nav-link " href="/ExamFilter1?exam=Government Exams&&test=RRB&&message=noelements" style="color:black;  font-weight: bold;
                      "><div class="jj" style="width: 18rem;">
                        <div class="card-body">
                        <h5 class="card-title">RRB</h5>
                        </div>
                      </div></a>
                <!-- <li class="nav-item " style="margin-left: 150px;">
                  <a class="nav-link" href="/ExamFilter1?exam=Government Exams&&test=UPSC" style="color:black;  font-weight: bold;
                      ">UPSC</a>
                </li> -->
                  <a class="nav-link " href="/ExamFilter1?exam=Government Exams&&test=LIC&&message=noelements" style="color:black;  font-weight: bold;
                      "><div class="jj" style="width: 18rem;">
                        <div class="card-body">
                        <h5 class="card-title">LIC</h5>
                        </div>
                      </div></a>
              </ul>
          
      
        <% } %>
          <% if(examname=="Management Exams" ) {%>
                  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                      <a class="nav-link " href="/ExamFilter1?exam=Management Exams&&test=GMAT&&message=noelements" style="color:black;  font-weight: bold;
                      "><div class="jj" style="width: 18rem;">
                        <div class="card-body">
                        <h5 class="card-title">GMAT</h5>
                        </div>
                      </div></a>
                      <a class="nav-link " href="/ExamFilter1?exam=Management Exams&&test=CAT&&message=noelements" style="color:black;  font-weight: bold;
                      "><div class="jj" style="width: 18rem;">
                        <div class="card-body">
                        <h5 class="card-title">CAT</h5>
                        </div>
                      </div></a>
                      <a class="nav-link " href="/ExamFilter1?exam=Management Exams&&test=SNAP&&message=noelements" style="color:black;  font-weight: bold;
                      "><div class="jj" style="width: 18rem;">
                        <div class="card-body">
                        <h5 class="card-title">SNAP</h5>
                        </div>
                      </div></a>
                  </ul>
               
      
            <% } %>
              <% if(examname=="Bank Exams" ) {%>
      
                      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                          <a class="nav-link " href="/ExamFilter1?exam=Bank Exams&&test=IBPS&&message=noelements" style="color:black;  font-weight: bold;
                      "><div class="jj" style="width: 18rem;">
                        <div class="card-body">
                        <h5 class="card-title">IBPS</h5>
                        </div>
                      </div></a>
                          <a class="nav-link" href="/ExamFilter1?exam=Bank Exams&&test=RBI&&message=noelements" style="color:black;  font-weight: bold;
                      "><div class="jj" style="width: 18rem;">
                        <div class="card-body">
                        <h5 class="card-title">RBI</h5>
                        </div>
                      </div></a>
                          <a class="nav-link " href="/ExamFilter1?exam=Bank Exams&&test=SBI-PO&&message=noelements" style="color:black;  font-weight: bold;
                      "><div class="jj" style="width: 18rem;">
                        <div class="card-body">
                        <h5 class="card-title">SBI-PO</h5>
                        </div>
                      </div></a>
                       
                      </ul>
                   
      
                <% } %>
                  <% if(examname=="Engineering Entrance Exams" ) {%>
      
                          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                              <a class="nav-link " href="/ExamFilter1?exam=Engineering Entrance Exams&&test=IIT-JEE&&message=noelements" style="color:black;  font-weight: bold;
                      ">
                                <div class="jj" style="width: 18rem;">
                                    <div class="card-body">
                                    <h5 class="card-title">IIT-JEE</h5>
                                    </div>
                                  </div></a>
                              <a class="nav-link" href="/ExamFilter1?exam=Engineering Entrance Exams&&test=GATE&&message=subelements" style="color:black;  font-weight: bold;
                      ">
                                 <div class="jj" style="width: 18rem;">
                                    <div class="card-body">
                                    <h5 class="card-title">GATE</h5>
                                    </div>
                                  </div></a>
                          </ul>
                     
      
      <% } %> 
      
      <% if(examname=="Research and Lectureship" ) {%>
       
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <a class="nav-link" href="/ExamFilter1?exam=Research and Lectureship&&test=CSIR-NET&&message=subelements"
                    style="color:black;  font-weight: bold;
                      "> <div class="jj" style="width: 18rem;">
                                    <div class="card-body">
                                    <h5 class="card-title">CSIR-NET</h5>
                                    </div>
                                  </div></a>
              </ul>
         
      
        <% } %>
      
      
      
       
      
</body>
</html>