<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Document</title>

    <style>
        input[type="text"]::placeholder { 
                  
                /* Firefox, Chrome, Opera */
                text-align: center;
            }
        input[type="number"]::placeholder { 
                  
                /* Firefox, Chrome, Opera */
                text-align: center;
            }
    </style>
</head>
{{>heading5}}
<body>


<div class="container">

  <div class="row">
 
      <div class="col-lg-6 offset-lg-3 bg-light mt-5" style="text-align:center">
    <h2>Enter your questions here</h2>

   
<form id="myform"method="POST"enctype="multipart/form-data" >

 <div class="form-group">
    <label for="exampleInputEmail1">Type Your Quiz name</label>
    <input type="text" class="form-control" id="yourquiz"  aria-describedby="emailHelp" placeholder="Enter Quiz name" name="yourquiz">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Enter question Number</label>
    <input type="number" class="form-control" id="qno" placeholder="Password"name="qno">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Enter the Question</label>
    <input class="form-control" id="myquestion"  aria-describedby="emailHelp" placeholder="Enter Question" name="myquestion">
  </div>
  <div class="form-group">

    <button class="btn btn-primary" data-toggle="modal" data-target="#myModal"  id="submitform"type="button"onclick="showdialog(this)">
        Upload questionimage
    </button>
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Enter the Answer code</label>
    <input type="text" class="form-control" id="answercode"  aria-describedby="emailHelp" placeholder="Enter Answercode" name="answercode">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Enter the Option 1</label>
    <input type="text" class="form-control" id="myquestion1"  aria-describedby="emailHelp" placeholder="Enter Option1" name="myquestion1">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Enter the Option 2</label>
    <input type="text" class="form-control" id="myquestion2"  aria-describedby="emailHelp" placeholder="Enter Option2" name="myquestion2">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Enter the Option 3</label>
    <input type="text" class="form-control" id="myquestion3"  aria-describedby="emailHelp" placeholder="Enter Option3" name="myquestion3">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Enter the Option 4</label>
    <input type="text" class="form-control" id="myquestion4"  aria-describedby="emailHelp" placeholder="Enter Option4" name="myquestion4">
  </div>
   <div class="form-group">

    <button class="btn btn-primary" data-toggle="modal" data-target="#myModal2"  id="submitform"type="button"onclick="showdialog2(this)">
        Upload questioncarryimage
    </button>
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Enter the time for the test</label>
    <input type="number" class="form-control" id="Mytime" aria-describedby="emailHelp" placeholder="Enter totaltime" name="Mytime">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Enter Before time</label>
    <input type="number" class="form-control" id="beforetime"  aria-describedby="emailHelp" placeholder="Enter beforetime" name="beforetime">
  </div>

  <div class="form-group">
    <label for="exampleFormControlTextarea1">Enter the solution</label>
    <textarea class="form-control" id="Mysolutions" rows="5"name="Mysolutions"></textarea>
  </div>

  <div class="form-group">

    <button class="btn btn-primary" data-toggle="modal" data-target="#myModal1"  id="submitform"type="button"onclick="showdialog1(this)">
        Upload solutionimage
    </button>
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Enter postive marks awarded if any</label>
    <input type="number" class="form-control" id="pm"  aria-describedby="emailHelp" placeholder="Enter beforetime" name="pm">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Enter negative marks if any</label>
    <input type="number" class="form-control" id="nm"  aria-describedby="emailHelp" placeholder="Enter beforetime" name="nm">
  </div>
    <button type="submit"class="btn btn-primary">submit</button>

</form>
   
  </div>
</div>
 
</div>
   

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"aria-hidden="true">
  <div class="modal-dialog">
  <div class="modal-content">
      <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel1">
          Upload Image
          </h4>
          <button type="button"class="close"data-dismiss="modal"aria-hidden="true">
              x
          </button>
      </div>       
     
      <div class="modal-body">
          <form method="POST" action="" enctype="multipart/form-data" id="form-upload">
          <div class="form-group">
              <input type="file" name="file" id="file" class="form-control">
          </div>
          <input type="submit"class="btn btn-success" value="Upload">
          </form>
        
      </div>
  </div>
  </div>
</div>



<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"aria-hidden="true">
  <div class="modal-dialog">
  <div class="modal-content">
      <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel2">
          Upload Image
          </h4>
          <button type="button"class="close"data-dismiss="modal"aria-hidden="true">
              x
          </button>
      </div>       
     
      <div class="modal-body">
          <form method="POST" action="" enctype="multipart/form-data" id="form-upload1">
          <div class="form-group">
              <input type="file" name="file" id="file" class="form-control">
          </div>
          <input type="submit"class="btn btn-success" value="Upload">
          </form>
        
      </div>
  </div>
  </div>
  </div>



<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"aria-hidden="true">
  <div class="modal-dialog">
  <div class="modal-content">
      <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel2">
          Upload Image
          </h4>
          <button type="button"class="close"data-dismiss="modal"aria-hidden="true">
              x
          </button>
      </div>       
     
      <div class="modal-body">
          <form method="POST" action="" enctype="multipart/form-data" id="form-upload2">
          <div class="form-group">
              <input type="file" name="file" id="file" class="form-control">
          </div>
          <input type="submit"class="btn btn-success" value="Upload">
          </form>
        
      </div>
  </div>
  </div>
  </div>






<script>
   function showdialog(data){
   let myid=data.id
    $("#myModal").modal("show")

}
function showdialog1(data){
   let myid=data.id
    $("#myModal1").modal("show")

}
function showdialog2(data){
   let myid=data.id
    $("#myModal2").modal("show")

}


$("#myform").on("submit",function(e){  
  
  e.preventDefault()
     alert("ddd")

    //var now = new Date();

       var formData = {
      yourquiz: $("#yourquiz").val(),
     no:  $("#no").val(),
     qno:  $("#qno").val(),
     myquestion:  $("#myquestion").val(),
     Mysolutions:  $("#Mysolutions").val(),
     answercode:  $("#answercode").val(),
    
     myquestion1: $("#myquestion1").val(),
     myquestion2:$("#myquestion2").val(),
     myquestion3:$("#myquestion3").val(),
     myquestion4:$("#myquestion4").val(),
     mytime:$("#Mytime").val(),
     beforetime:$("#beforetime").val(),
     myquestionimg:imagePath,
     Mysolutionsimg:imagePath1,
      myfile:imagePath2   
 
    
    
   };
    
    ///console.log(myquestionimg)
    
  //alert(myquestionimg)
        $.ajax({
            url:'/postquestions',
            method:"POST",
            data:formData,
            success:function(response){
              
              
            // $("#mytime").val(0)
          // $("#beforetime").val(0)
             $("#file").val('');
             imagePath=""
             imagePath1=""
             imagePath2=""

             alert(response.message)
             
            }
        })
        return false;
    
    })













   var imagePath=""

$("#form-upload").on("submit",function(e){
  
e.preventDefault()
alert("sadfg")
//var myform=new FormData(this)
//console.log(myform.value)
//alert(myform)
$.ajax({
  url: "/do-uploadprofileimage",
  type: "POST",
  data: new FormData(this),
  contentType: false,
  cache:false,
  processData: false,
  success:function(response){
   
 alert(response)
  
    imagePath=response;
        console.log(imagePath)

    
    //$("#myModal").modal("hide")
  }
})

})




var imagePath1=""

$("#form-upload1").on("submit",function(e){
  
e.preventDefault()
alert("sadfg")
//var myform=new FormData(this)
//console.log(myform.value)
//alert(myform)
$.ajax({
  url: "/do-uploadprofileimage1",
  type: "POST",
  data: new FormData(this),
  contentType: false,
  cache:false,
  processData: false,
  success:function(response){
   
 alert(response)
  
    imagePath1=response;
        
    ///$("#myModal1").modal("hide")
  }
})

})
var imagePath2=""

$("#form-upload2").on("submit",function(e){
  
e.preventDefault()
alert("sadfg")
//var myform=new FormData(this)
//console.log(myform.value)
//alert(myform)
$.ajax({
  url: "/do-uploadprofileimage2",
  type: "POST",
  data: new FormData(this),
  contentType: false,
  cache:false,
  processData: false,
  success:function(response){
   
 alert(response)
  
    imagePath1=response;
        
    ///$("#myModal1").modal("hide")
  }
})

}) 
</script>
</body>
</html>