<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>


<style>
    #rat {
        opacity: 0;
    }

    .start_btn button {
        font-size: 25px;
        font-weight: 500;
        color: #007bff;
        padding: 15px 30px;

        border-radius: 5px;
        background: #fff;

    }




    .info_box {
        width: 540px;
        background: #fff;
        border-radius: 5px;

        opacity: 0;
        pointer-events: none;
        transition: all 0.3s ease;
    }

    .activeInf {
        opacity: 1;
        pointer-events: fill;
    }

    .btnstartdeactivate {
        opacity=0
    }

    .btnstartactivate {
        opacity: 1;
    }

    .quiz_box {
        width: 550px;
        background: #fff;
        border-radius: 5px;

        opacity: 1;


    }

    .activeQuiz {
        opacity: 1;
    }


    .result_box {
        opacity: 0;

    }

    .showresultbox {
        opacity: 1;
    }


    .activeResult {
        margin-top: 0px;
        margin-left: 0px;
        opacity: 1;
    }


    .quiz_box header .timer {
        color: #004085;
        background: #cce5ff;
        border: 1px solid #b8daff;
        height: 45px;
        padding: 0 8px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 145px;
    }

    section {
        padding: 25px 30px 20px 30px;
        background: #fff;
    }

    section .que_text {
        font-size: 25px;
        font-weight: 600;
    }

    section .option_list {
        padding: 20px 0px;
        display: block;
    }

    section .option_list .option {
        background: aliceblue;
        border: 1px solid #84c5fe;
        border-radius: 5px;
        padding: 8px 15px;
        font-size: 17px;
        margin-bottom: 15px;
        cursor: pointer;
        transition: all 0.3s ease;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    section .option_list .option:last-child {
        margin-bottom: 0px;
    }

    section .option_list .option:hover {
        color: #004085;
        background: #cce5ff;
        border: 1px solid #b8daff;
    }



    section .option_list .option.incorrect {
        color: #721c24;
        background: #f8d7da;
        border: 1px solid #f5c6cb;
    }

    section .option_list .option.disabled {
        pointer-events: none;
    }

    section .option_list .option .icon {
        height: 26px;
        width: 26px;
        border: 2px solid transparent;
        border-radius: 50%;
        text-align: center;
        font-size: 13px;
        pointer-events: none;
        transition: all 0.3s ease;
        line-height: 24px;
    }

    .green {

        background-color: red;
        font-family: 'Courier New', Courier, monospace;
    }

    .red {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        background-color: rgb(49, 153, 63);
    }

    .option {

        border: 1px solid #84c5fe;
        border-radius: 5px;
        padding: 8px 15px;
        font-size: 17px;
        margin-bottom: 15px;
        cursor: pointer;
        transition: all 0.3s ease;

        align-items: center;
        justify-content: space-between;

    }

    .option2 {

        border: 1px solid #84c5fe;
        border-radius: 5px;
        padding: 8px 15px;
        font-size: 17px;
        margin-bottom: 15px;
        cursor: pointer;
        transition: all 0.3s ease;

        align-items: center;
        justify-content: space-between;

    }

    .option3 {

        border: 1px solid #84c5fe;
        border-radius: 5px;
        padding: 8px 15px;
        font-size: 17px;
        margin-bottom: 15px;
        cursor: pointer;
        transition: all 0.3s ease;

        align-items: center;
        justify-content: space-between;

    }

    .option4 {

        border: 1px solid #84c5fe;
        border-radius: 5px;
        padding: 8px 15px;
        font-size: 17px;
        margin-bottom: 15px;
        cursor: pointer;
        transition: all 0.3s ease;

        align-items: center;
        justify-content: space-between;

    }

    .solution {
        width: 550px;
        background: #fff;
        border-radius: 5px;
        opacity: 1;

    }

    .solution_btn {
        opacity: 0;
    }

    .ff {
        font-size: 25px;
        font-weight: 400;
        font-family: 'Courier New', Courier, monospace;
    }

    .showsolutionbtn {
        opacity: 1;
    }

    .cred {}

    .ll {
        opacity=1
    }

    .finishexam {
        opacity: 0;
    }

    .activatefinish {
        opacity: 1;
    }

    .button1 {
        opacity: 0;
    }

    .activatebutton1 {
        opacity: 1;
    }

    .fg {
        opacity: 0;
    }

    .Myreg {
        opacity: 0;

    }

    .Myage {
        opacity: 0;
    }

    .marks {
        opacity: 0;
    }

    .quiz {
        opacity: 0;
    }

    .activemarks {
        opacity: 1;

    }

    .activereg {
        opacity: 1;
    }

    .activequiz {
        opacity: 1;
    }

    .activeage {
        opacity: 1;
    }

    .button2 {
        opacity: 0;

    }

    .button3 {
        opacity: 0;

    }

    .activebutton2 {
        opacity: 1;
    }

    .activebutton3 {
        opacity: 1;
    }


     #ty{
        margin-top: 15px;
        margin-left: 40px;
        height:150px;
        width: 300px;
    }
    #passimg{
        height:100px;
        width: 460px;
    }
    .myimgtag{
        height:280px;
        width: 300px;
    }

    #ty1{
        height:280px;
        width: 300px;
    }
    #ty2{
        height:280px;
        width: 300px;
    }
    #ty3{
        height:280px;
        width: 300px;
    }
</style>

<body>

    <div class="quiz_box" style="top:10px;left:10px;">
        <header>

        </header>
        <section>
            <div id="name">{{name}}</div>
            <div id="marks"></div><br><br>


            <div id="passage"></div>
            <div id="passimg"></div>
            <div id="myqueimg"></div>
            <div id="imgtag" style="height:60px;width:200px;"></div>
                <div class="solution"></div>
                <h3>Answer marked by you is shown in red and the correct response is shown in green</h3>


        </section>

        <!-- footer of Quiz Box -->
        <footer>
            <div class="total_que">
                <!-- Here I've inserted Question Count Number from JavaScript -->
            </div>

        </footer>
    </div>


    <div class="bb"></div>
    <div id="rat" style="display:none">{{usedata}}</div>

    <script>
        let h;


        let rat = document.getElementById("rat").innerText
        console.log(rat)
       let Mydata =JSON.parse(rat)
        var length =Mydata.length;

        console.log(length)
        Object.keys(JSON.stringify(Mydata[1]))
        let name = document.getElementById("name").innerText
        for (let i = 0; i <= Object.keys(Mydata[1]).length; i++) {
            if (Object.keys(Mydata[1])[i] == name) {

                h = i
                // console.log(Object.keys(Mydata[1])[i])
                // console.log((Object.values(Mydata[6])[h])["answer1"])
            }
        }


        let html = ``
        //let question=document.querySelector(".que_txt")
        let quest = document.querySelector(".que_text")
        let solution = document.querySelector(".solution")
        let option = document.querySelector(".option_list")
        //let option1=option.getElementById("d")
        //let option2=option.getElementById("f")
        let option3 = document.getElementById("g")
        const mypasstag = document.getElementById('passage')
        const mypassimg = document.getElementById('passimg')

        var imgtag = document.getElementById("imgtag")







        // let name="${req.body.name}"


        let option_tag = ``;
        let option4 = document.getElementById("k")
        let que_tag = '';
        let img_tag = '';
        let solution_tag = '';
        //let pass_img='';
        //let pass_tag='';
        for (let i = 0; i < length; i++) {

            //if ((Mydata[i].type == "multichoice") || (Mydata[i].type == "multi")) {

                if (Mydata[i].queimg) {
                    que_tag = '<span class="ff">' + Mydata[i].numb + ". " + `<img src="${Mydata[i].queimg}" alt=""  style="width:70;height:50;">` + '</span>' + '<br>'

                } else {
                    que_tag = '<span class="ff">' + Mydata[i].numb + ". " + Mydata[i].question + '</span>' + '<br>'

                }


                if (Mydata[i].myfiles) {

                    img_tag = '<span class="ff">' + `<img src="${Mydata[i].myfiles}" alt="" class="ty" style="width:200;height:100;">` + '</span>' + '<br>'
                    //imgtag.innerHTML=img_tag
                    console.log(imgtag.innerHTML)

                }

               
                if(Mydata[i].solutionsimg) {
                    solution_tag='<span class="ff">' + `<img src="${Mydata[i].solutionsimg}" alt="" class="ty" style="width:200;height:100;">` + '</span>' + '<br>'
                }
                else{
                    solution_tag=`<textarea rows=3></textarea>`;
                }


                option_tag = `<div class="optiongr">
           
        <div class="option" >${Mydata[i].option1} </div>
    <div class="option" >${Mydata[i].option2} </div>
    <div class="option" >${Mydata[i].option3} </div>
    <div class="option" > ${Mydata[i].option4} </div>
    <div id="Mysolutions"></div>
    </div>`;


              //  if ((typeof (que_img) != 'undefined') && ((typeof (img_tag) != 'undefined'))) {
                  //  html += que_img + `<br>` + img_tag + `<br>` + option_tag + `<br>`

             //   }
               // if ((typeof (que_img) != 'undefined') && ((typeof (img_tag) != 'undefined'))&&(solution_tag)) {
                    html += que_tag + `<br>` + img_tag + `<br>` + option_tag + `<br>`+solution_tag+`<br>`

              //  }

               // if (typeof (img_tag) != 'undefined') {
                   // html += que_tag + `<br>` + img_tag + `<br>` + option_tag + `<br>`

               // }
                //else {
                //    html += que_tag + `<br>` + + option_tag + `<br>`
              //  }

           // }
           // else {

               
         //   }
        }

        solution.innerHTML = html

        //console.log(Mydata[0])
        const options = solution.querySelectorAll(".optiongr");

        console.log(options)
        let m = 0




        let a = []
        let b = []
        let l = 0
        //if(Mydata[i].type=="multi"){
        //console.log((Mydata[i].answercode))

        //if((Mydata[i].answercode)['answer1']!=''){
        ///  b.push((Mydata[i].answercode)['answer1'])

        // options[i].children[(Mydata[i].answercode)['answer1']].style.backgroundColor="green"
        //}
        //if((Mydata[i].answercode)['answer2']!=''){
        //   b.push((Mydata[i].answercode)['answer2'])
        //options[i].children[(Mydata[i].answercode)['answer2']].style.backgroundColor="green"
        //}
        //if((Mydata[i].answercode)['answer3']!=''){
        // b.push((Mydata[i].answercode)['answer3'])
        //options[i].children[(Mydata[i].answercode)['answer3']].style.backgroundColor="green"

        //}

        ///if((Object.values(Mydata[i])[h])['answer1']){

        //  a.push((Object.values(Mydata[i])[h])['answer1'])
        //options[i].children[(Object.values(Mydata[i])[h])['answer1']].style.backgroundColor="red"

        //}
        //if((Object.values(Mydata[i])[h])['answer2']){

        //  a.push((Object.values(Mydata[i])[h])['answer2'])
        //  options[i].children[(Object.values(Mydata[i])[h])['answer2']].style.backgroundColor="red"

        //}
        //if((Object.values(Mydata[i])[h])['answer3']){

        // a.push((Object.values(Mydata[i])[h])['answer3'])
        // options[i].children[(Object.values(Mydata[i])[h])['answer3']].style.backgroundColor="red"

        //}

        //for(let t=0;t<b.length;t++){

        //for(let  j=0;j<a.length;j++){
        //    if(b[t]==a[j]){
        // l=l+1
        //   }
        // }

        // if(l==b.length){
        // console.log(l)
        //  console.log(b.length)
        //m=m+1;
        //   }
        //}
        // console.log(b)
        //console.log(a)


        //}



        //if(Mydata[i].type=="integerans"){

        //if((Object.values(Mydata[i])[h])[0]==(Mydata[i].answercode)['answer1']){

        //m=m+1;

        //}
        //}

        //if(Mydata[i].type=="multichoice"){
        for (let i = 0; i < length; i++) {
                   // const options = solution.querySelectorAll(".option");

            //---------------------------------------------------------------------------------------
            for (let j = 0; j < 4; j++) {

                if (Mydata[i].answercode == j) {

                    // console.log((Mydata[i].answercode)['answer1'])
                    if (options[i]) {
                        console.log(options[i])
                        //console.log((Mydata[i].answercode)['answer1'])
                        options[i].children[Mydata[j].answercode].style.backgroundColor = "green"
                    }
                }
                //console.log(Object.values(Mydata[i])[h])

                if (Object.values(Mydata[i])[h] != null) {
                    if (Object.values(Mydata[i])[h][0] == j) {
                        // console.log((Object.values(Mydata[i])[h])[0])
                        options[i].children[j].style.backgroundColor = "red"
                    }
                }

            }



            if (Object.values(Mydata[i])[h] != null) {
                if (Object.values(Mydata[i])[h][0] == Mydata[i].answercode) {
                    console.log("runned")
                    console.log(Object.values(Mydata[i])[h][0])
                    if(Mydata[i].positivemark){
                      m = m +Mydata[i].positivemark;
                    }
                   // console.log((Mydata[i].answercode)
                    
                }
                else{
                    if(Mydata[i].Negativemark){
                        m=m-Mydata[i].Negativemark
                    }
                }
            }

        }
        let p = document.getElementById("name")
        p.innerText = name
        let k = document.getElementById("marks")
        //console.log(m)
        k.innerText = m















    </script>

</body>